/* Global Vars */
/**************/
:root {
    --dark-blue: #425b84;
    --light-blue: #5b7bb4;
    --max-width: 1100px;
}

/* Global Styles */
/****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 1rem 'Calibri';
    background: var(--light-blue);
    color: #fff;
    overflow-x: hidden;
    padding-bottom: 50px;
}


.container {
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: center;
}

/* Section Styles */
/*****************/

/* Header */
/*********/
#main-header {
    background: var(--dark-blue);
    padding: 4rem 0;
}

#main-header h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

/* Timeline */
/***********/
#timeline ul {
    background: var(--primary-color);
    padding: 20px 0;
}

/* Timeline bar */
#timeline ul li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 20px;
    background: #fff;
}

/* Boxes */
#timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    background: var(--dark-blue);
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

/* Box Position Left Side */
#timeline ul li:nth-child(odd) div {
    left: -434px;
}

/* Box Position Right Side */
#timeline ul li:nth-child(even) div {
    left: 40px;
}

/* Timeline Milestone Dot */
#timeline ul li:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: #fff;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: background 0.5s ease-in-out;
}

/* Arrows base */
#timeline div:before {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid; 
}

/* left arrows */
#timeline ul li:nth-child(odd) div:before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent var(--dark-blue);
}

/* Right arrows */
#timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--dark-blue) transparent transparent;
}

/* Show boxes */
#timeline ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

#timeline ul li.show:after {
    background: var(--dark-blue);
}

/* MQ's */
@media(max-width: 900px) {
    #timeline ul li div {
        width: 250px;
    }

    /* Box Position Left Side */
    #timeline ul li:nth-child(odd) div {
        left: -285px;
    }
    
    /* Box Position Right Side */
    #timeline ul li:nth-child(even) div {
        left: 40px;
    }
}

@media(max-width: 600px) {
    /* Header text sizes */
    #main-header h1 {
        font-size: 2rem;
    }

    #main-header h3 {
        font-size: .9rem;
    }

    /* Moving the timeline to Left Side */
    #timeline ul li {
        margin-left: 20px;
    }

    /* Box Width using scren sizee calculation */
    #timeline ul li div {
        width: calc(100vw - 90px);
    }

    /* Box Position Left Side to Right Side */
    #timeline ul li:nth-child(odd) div {
        left: 40px;
    }

    /* left arrows made into right side arrows*/
    #timeline ul li:nth-child(odd) div:before {
        right:0;
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--dark-blue) transparent transparent;
    }
}